@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EBPOC.Web.Models

@model IEnumerable<SCArticleVM>
@*<div class="cta" id="cta_toolss">
        <h3 onclick="">@Html.Sitecore().Field("PageHeader", Model.Item)</h3>
        <p style="height: 85px">@Html.Sitecore().Field("PageSummery", Model.Item)</p>
        <a class="more" href="">@Html.Sitecore().Field("PageRedirect", Model.Item)</a>
    </div>*@
@foreach (var item in Model)
{
    <div class="cta" id="cta_toolss">
        <h3 onclick="">@item.MetaTitle</h3>
        <p style="height: 85px">@item.MetaDescription</p>
        <a class="more" href="">@item.ArticleRedirect</a>
    </div>
}



