@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@*@model RenderingModel
    @{

    }*@
@model IDictionary<string, string>
<ul id="lang">
    @foreach (var language in Model)
    {
        if (language.Key.ToUpper() == "ENGLISH")
        {
            //Dutch(Netherlands)
            <li class="selected">
                <a href="@language.Value">@language.Value.Substring(@language.Value.Length-2).ToUpper()</a>
            </li>
        }
        else
        {
            <li id="langLast">
                <a href="@language.Value">@language.Value.Substring(@language.Value.Length - 2).ToUpper()</a>
            </li>
        }
    }
    @*<li class="selected">
            <a href=''>FR</a>
        </li>
        <li id="langLast">
            <a href=''>NL</a>
        </li>*@
</ul>
