@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EBPOC.Web.Helpers
@model RenderingModel
@{

}
<div>
    <div class="topnav" id="myTopnav">
        <a class="active-menu" href="@Sitecore.Links.LinkManager.GetItemUrl(EBPOC.Web.Helpers.SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages/SCEBHome"))">
            @SiteHelper.HomeItem().Fields["Meta Title"].Value
        </a>
        @foreach (var item in SiteHelper.ProductItems("/sitecore/content/EmployeeBenefits/Pages/SCEBHome").Children.InnerChildren.ToArray())
        { 
            if (@item["Show in Menu"] == "1")
            {
                if (@item.Fields["Meta Title"].Value == Model.Item.DisplayName)
                {
                    <a class="active-menu" href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">
                        @item.Fields["Meta Title"].Value
                    </a>}
                else
                {
                    <a href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">
                        @item.Fields["Meta Title"].Value
                    </a>
                }
            }
        }
        @Html.Sitecore().Placeholder("Topmenu.Search")
    </div>
</div>
