@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EBPOC.Web.Helpers
@model RenderingModel
@{

}
@*<div id="nav_bar">
    <ul id="nav">
        <li>
            <a href="@Sitecore.Links.LinkManager.GetItemUrl(EBPOC.Web.Helpers.SiteHelper.ProductItem())">
                @SiteHelper.HomeItem().Fields["Meta Title"].Value
            </a>
        </li>
        @foreach (var item in SiteHelper.ProductItem().Children.ToArray())
        {
            if (@item["Show in Menu"] == "1")
            {
                <li>
                    <a href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">
                        @item.Fields["Title"].Value
                    </a>
                </li>
            }
        }
    </ul>
    <div id="search">
        @Html.Sitecore().Placeholder("top.search")
    </div>
</div>*@


<div class="row">
    <div class="topnav" id="myTopnav">
        <a class="active" href="@Sitecore.Links.LinkManager.GetItemUrl(EBPOC.Web.Helpers.SiteHelper.ProductItem())">
            @SiteHelper.HomeItem().Fields["Meta Title"].Value
        </a>
        @foreach (var item in SiteHelper.ProductItem().Children.ToArray())
        {
            if (@item["Show in Menu"] == "1")
            {
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(@item)">
                    @item.Fields["Title"].Value
                </a>
            }
        }
        @Html.Sitecore().Placeholder("Topmenu.Search")
    </div>
</div>
